.clock {
    position: relative;
}

.hand {
    width: 50%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0% 0%;
    transition: transform 0.05s linear;
}

.hour {
    height: 4px;
    background-color: black;
}

.minute {
    background-color: black;
}

.second {
    background-color: red;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
